// Copyright (c) 2023 Nordic Semiconductor ASA
// SPDX-License-Identifier: Apache-2.0

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include "spyder_nrf52840_nrf52840-pinctrl.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "Spyder NRF52840";
	compatible = "assa-abloy,spyder-nrf52840";

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,uart-mcumgr = &uart0;
		zephyr,bt-mon-uart = &uart0;
		zephyr,bt-c2h-uart = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,ieee802154 = &ieee802154;
		nordic,pm-ext-flash = &w25q16jv;
	};

	leds {
		compatible = "gpio-leds";

		led_g: led_g {
			gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
			label = "Green LED";
		};

		led_r: led_r {
			gpios = <&gpio1 8 GPIO_ACTIVE_LOW>;
			label = "Red LED";
		};

		led_b: led_b {
			gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;
			label = "Blue LED";
		};

		relay_1: relay_1 {
			gpios = <&gpio1 15 GPIO_ACTIVE_LOW>;
			label = "relay 1";
		};

		relay_2: relay_2 {
			gpios = <&gpio1 14 GPIO_ACTIVE_LOW>;
			label = "relay 2";
		};

		ninaw132_reset_n: ninaw132_reset_n {
			gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
			label = "ninaw132_reset_n";
		};
	};

	buttons {
		compatible = "gpio-keys";
	};

	nrf_radio_fem: nrf21540_fem {
		compatible = "nordic,nrf21540-fem";
		tx-en-gpios = <&gpio0 03 GPIO_ACTIVE_HIGH>;
		rx-en-gpios = <&gpio0 02 GPIO_ACTIVE_HIGH>;
		pdn-gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
		mode-gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
		spi-if = <&fem_spi>;
	};

	/* These aliases are provided for compatibility with samples */
	aliases {
		ledr = &led_r;
		ledg = &led_g;
		ledb = &led_b;
		relay1 = &relay_1;
		relay2 = &relay_2;
		watchdog0 = &wdt0;
		spi-flash0 = &w25q16jv;
		ninaw132reset = &ninaw132_reset_n;
	};
};

&adc {
	status = "okay";
};

&uicr {
	gpio-as-nreset;
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&uart0 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};

&uart1 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart1_default>;
	pinctrl-1 = <&uart1_sleep>;
	pinctrl-names = "default", "sleep";
	hw-flow-control;
};

&reg0 {
	status = "okay";
};

&reg1 {
	regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
};

&spi0 {
	compatible = "nordic,nrf-spim";
	/* Cannot be used together with i2c0. */
	status = "okay";
	pinctrl-0 = <&spi0_default>;
	pinctrl-1 = <&spi0_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;

	w25q16jv: w25q16jv@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <40000000>;
		size = <0x1000000>;
		has-dpd;
		t-enter-dpd = <3000>;
		t-exit-dpd = <30000>;
		jedec-id = [ef 70 15];
	};
};

fem_spi: &spi2 {
	status = "okay";
	cs-gpios = <&gpio1 02 GPIO_ACTIVE_LOW>;

	nrf_radio_fem_spi: nrf21540_fem_spi@0 {
		compatible = "nordic,nrf21540-fem-spi";
		status = "okay";
		reg = <0>;
		spi-max-frequency = <8000000>;
	};
};

&spi2 {
	compatible = "nordic,nrf-spi";
	status = "okay";
	pinctrl-0 = <&spi2_default>;
	pinctrl-1 = <&spi2_sleep>;
	pinctrl-names = "default", "sleep";
};

&i2c0 {
	status = "disabled";
};

&i2c1 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	pinctrl-0 = <&i2c1_default>;
	pinctrl-1 = <&i2c1_sleep>;
	pinctrl-names = "default", "sleep";

	rx8130: rx8130@32 {
		compatible = "i2c-device";
		label = "RTC";
		reg = <0x32>;
		isw-gpios = <&gpio0 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	};
};

&ieee802154 {
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x0000C000>;
		};

		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000C000 0x00076000>;
		};

		slot1_partition: partition@82000 {
			label = "image-1";
			reg = <0x00082000 0x00076000>;
		};

		storage_partition: partition@f8000 {
			label = "storage";
			reg = <0x000f8000 0x00008000>;
		};
	};
};

zephyr_udc0: &usbd {
	compatible = "nordic,nrf-usbd";
	status = "disabled";
};
